svg {
    fill: none;
    height: 40px;
    position: relative;
}

svg:hover path#E1 {
    animation-name: logo-hover;
    animation-timing-function: ease;
    animation-duration: 2s;
}

@keyframes logo-hover {
    0% {
        transform: translateX(0);
        
        
    }
    100% {
        transform: translateX(30px);
    }
}