.navbar {
    height: 64px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Vilane';
}

.nav-space {
    width: 33vw;
}

.nav-left, .nav-right {
    align-self: center;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.navbar a {
    color: black;
    text-decoration: none;
}